<section class="main">
        <h1 class="fw-bold mb-5" id="income-title">Доходы</h1>
        <div class="categories" id="income-categories">
<!--            <div class="category">-->
<!--                <div class="category-title mb-2">Депозиты</div>-->
<!--                <a href="#/" class="btn btn-primary">Редактировать</a>-->
<!--                <a href="#/" class="btn btn-danger">Удалить</a>-->
<!--            </div>-->

<!--            <div class="category add-category" id="income-add-category">-->
<!--                <div class="add-category-plus">-->
<!--                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                        <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z" fill="#CED4DA"/>-->
<!--                    </svg>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="modal-overlay" id="delete-category-modal">
            <div class="modal-delete-category">
                <div class="modal-delete-category-text">
                    Вы действительно хотите удалить категорию?
                    Связанные доходы будут удалены навсегда.
                </div>
                <div class="modal-delete-category-action">
                    <button type="button" class="btn btn-success" id="delete-category-modal-btn">Да, удалить</button>
                    <button type="button" class="btn btn-danger" id="cancel-delete-category-modal-btn">Не удалять</button>
                </div>
            </div>
        </div>
</section>